//FUENTES
@font-face {
  font-family: "Dosis Light";
  src: url("../fonts/Dosis-Light.ttf");
}
@font-face {
  font-family: "Dosis Regular";
  src: url("../fonts/Dosis-Regular.ttf");
}
@font-face {
  font-family: "Dosis Medium";
  src: url("../fonts/Dosis-Medium.ttf");
}
@font-face {
  font-family: "Dosis ExtraBold";
  src: url("../fonts/Dosis-ExtraBold.ttf");
}
$fuentePrincipalLight: "Dosis Light";
$fuentePrincipalRegular: "Dosis Regular";
$fuentePrincipalMedium: "Dosis Medium";
$fuentePrincipalExtraBold: "Dosis ExtraBold";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

//COLORES
$color-principal: #af997f;
$color-textos: #3b3d40;
$color-textos-secundario: #bbbaba;
$color-negro-main: #000;

//GENERALES
.color-principal {
  color: #af997f;
}
.color-negro-main {
  color: $color-negro-main;
}
.textos {
  font-family: $fuentePrincipalLight;
  color: $color-textos;
  font-size: 1.125rem;
}
.titulos-h3 {
  font-family: $fuentePrincipalRegular;
  font-size: 2rem;
  max-width: 320px;
}
.titulos-h3::first-letter {
  text-transform: capitalize;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oculto {
  display: none;
}

.col-headers {
  padding: 50px 0px 30px;
  .texto-headers {
    font-family: $fuentePrincipalRegular;
    color: $color-negro-main;
    font-size: 3.125rem;
    letter-spacing: 0.1em;
  }
}

.container-md {
  padding-bottom: 100px;
}
.contenido-parallax {
  background: url("../images/parallax/servicios-parallax.jpg") center / cover;
  background-attachment: fixed;
  position: relative;
}
.contenido-parallax-2 {
  position: relative;
  z-index: 2;
}
.contenido-parallax::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836);
}

.btn {
  font-family: $fuentePrincipalLight;
  font-size: 1.2rem;
  border-radius: 0px;
}

//NAV
.navbar {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.178);
}
.navbar-brand {
  color: $color-negro-main;
  font-family: $fuentePrincipalExtraBold;
  font-size: 1.5rem;
}
.nav-link {
  font-size: 0.8125rem;
  font-family: "Open Sans";
  font-weight: 400;
  transition: all 0.3s;
}
.nav-link:hover {
  color: $color-textos-secundario;
}

//HEADER PRINCIPAL
.mySwiper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $color-negro-main;
}
.anti-drag {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.swiper-slide {
  position: relative;
  .imagen-flotante {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.4);
    z-index: -1;
  }
  .letra-up::first-letter {
    text-transform: uppercase;
  }
  .titulo {
    font-size: clamp(2.5rem, 13vw, 7.5rem);
    font-family: $fuentePrincipalMedium;
  }
  .subtitulo {
    font-size: clamp(0.6rem, 2.5vw, 1.5rem);
    font-family: $fuentePrincipalLight;
    letter-spacing: 2px;
  }
}

//HEADER PRINCIPAL QUERYS
@media (min-width: 768px) {
  .swiper-slide {
    .titulo,
    .subtitulo {
      letter-spacing: 3px;
    }
  }
}

//INICIO CONTENIDO PRINCIPAL
.img-col-1,
.video-col-1 {
  width: 100%;
  height: 50vw;
}
.img-col-2 {
  width: 100%;
  height: 90vw;
}

//INICIO CONTENIDO PRINCIPAL QUERYS
@media (min-width: 480px) {
  .col-headers {
    padding: 70px 0px 30px;
  }
}
@media (min-width: 768px) {
  .col-headers {
    padding: 100px 0px 50px;
  }
  .img-col-1 {
    max-height: 210px;
  }
  .video-col-1 {
    max-height: 204px;
  }
  .img-col-2 {
    max-height: 380px;
  }
}
@media (min-width: 992px) {
  .img-col-1 {
    max-height: 260px;
  }
  .video-col-1 {
    max-height: 270px;
  }
  .img-col-2 {
    max-height: 470px;
  }
}
@media (min-width: 1200px) {
  .img-col-1 {
    max-height: 320px;
  }
  .video-col-1 {
    max-height: 340px;
  }
  .img-col-2 {
    max-height: 570px;
  }
}

//INICIO SERVICIOS
.iconos-servicios {
  font-size: 2.3rem;
  font-weight: 100;
  color: $color-textos-secundario;
  opacity: 0.5;
}
.texto-servicios {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: $fuentePrincipalLight;
  opacity: 0.5;
}

.icono-current {
  color: $color-principal;
  opacity: 1;
}
.texto-current {
  opacity: 1;
}
.textos-secundarios {
  color: $color-textos-secundario;
  line-height: 2;
}
.titulo-servicios {
  font-size: 1.375rem;
  line-height: 1.7;
  max-width: 100%;
}
.span-titulo-servicios {
  display: block;
}
.span-titulo-servicios::first-letter {
  text-transform: capitalize;
}

//INICIO SERVICIOS QUERYS
@media (min-width: 992px) {
  .iconos-servicios {
    font-size: 3rem;
  }
  .texto-servicios {
    font-size: 15px;
  }
  .titulo-servicios {
    font-size: 1.5rem;
  }
  .textos-secundarios {
    line-height: 1.7;
  }
}

//INICIO PROCESO
.swiper-proceso {
  .tarjeta-slider {
    width: 40%;
  }
}

.tarjeta-slider {
  background: $color-principal;
  padding: 40px 20px;
  .titulo-tarjeta {
    font-size: 1.625rem;
    letter-spacing: 2px;
    font-family: $fuentePrincipalRegular;
  }
  .descripcion-tarjeta::first-letter {
    text-transform: capitalize;
  }
}

.swiper-proceso {
  width: 100%;
  height: 85vh;
  min-height: 550px;
  max-height: 720px;
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide:nth-child(1) {
    background: url("../images/proceso/1.jpg") center / cover;
  }
  .swiper-slide:nth-child(2) {
    background: url("../images/proceso/2.jpg") center / cover;
  }
  .swiper-slide:nth-child(3) {
    background: url("../images/proceso/3.jpg") center / cover;
  }
}

@media (min-width: 768px) {
  .swiper-proceso {
    display: flex;
  }
  .tarjetas-ocultas {
    display: none;
  }
}
@media (min-width: 992px) {
  .swiper-proceso {
    .tarjeta-slider {
      padding: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .swiper-proceso {
    .tarjeta-slider {
      width: 35%;
    }
  }
}
